name: Sonar

on:
  workflow_call:
    inputs:
      project_key:
        description: 'project key'
        required: true
        type: string
      precompile:
        description: 'shell script'
        required: false
        type: string
        default: './.github/precompile.sh'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0      
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Cache SonarCloud packages
        uses: actions/cache@v2.1.6
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
      - name: precompile bash
        shell: bash
        env:
          PRECOMPILE_FILE: ${{inputs.precompile}}
        run: |
          if test -f "$PRECOMPILE_FILE"; then
            echo "running $PRECOMPILE_FILE"
            sh $PRECOMPILE_FILE
          fi
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          PROJECT_KEY: ${{inputs.project_key}}
        run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=$PROJECT_KEY -Dsonar.host.url=https://sonarcloud.io -Dsonar.organization=lsnova
